body {
    font-family: 'Roboto', sans-serif;
}

.particle-Header {
    margin: 0px 0px 50px 0px;
    font: normal 75% Arial, Helvetica, sans-serif;
}

canvas {
    display: block;
    vertical-align: bottom;
}

#particles-js {
    position: relative;
    width: 100%;
    height: 370px;
    background-image: url("../../images/Cover.jpeg");
    /*background: linear-gradient(to right, #6819e8 0%, #7437d0 35%, #615fde 68%, #6980f2 100%);*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*background-position: 100% 100%;*/
}

.title {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 40px;
    top: 150px;
    color: white;
    letter-spacing: 2px;
    font-weight: 100;
    vertical-align: middle;
    text-align: center;
}

.large_text {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 100;
}

.icon {
    color: #ffffff;
    opacity: 0.5;
    position: absolute;
    top: 20px;
    left: 20px;
}

.margin-top-sm {
    margin-top: 10px;
}

.margin-top-md {
    margin-top: 20px;
}

.margin-top-lg {
    margin-top: 30px;
}

.margin-top-xl {
    margin-top: 40px;
}

.page-bottom {
    margin-bottom: 100px;
}

.margin-bottom-xl {
    margin-bottom: 50px;
}

.name {
    color: #3c3c3c;
    font-size: 20px;
    margin-top: 20px;
}

.position {
    color: #565656;
    font-size: 17px;
    margin-top: -8px;
}

.number {
    color: #808080;
    font-size: 15px;
    margin-top: -5px;
}

.event-name {
    font-size: 20px;
    color: #212121;
    margin-top: 14px;
}

.event-type {
    font-size: 15px;
    color: #565656;
    margin-top: -5px;
}

.event-container:hover {
    opacity: 0.5;
    cursor: pointer;
}

.padding-container {
    padding: 40px;
}

.heading {
    letter-spacing: 2px;
    padding: 15px 0px 15px 0px;
    font-weight: 100;
    color: #303030;
}

.btn-default {
    background-color: #d6d6d6;
    padding: 10px 30px 10px 30px;
    outline: none;
    border-radius: 3px;
}

.under_head {
    background-color: black;
    width: 100px;
    padding-bottom: 3px;
}

.lead {
    color: #555555;
    font-size: 1.2em;
    font-weight: 100;
    letter-spacing: 0.5px;
    margin-bottom: 2.3125rem;
    padding: 15px 0px 15px 0px;
}

.modal-dialog {
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0;
}

.modal-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 2px solid transparent;
    border-radius: 0;
    box-shadow: none;
}

.modal-body {
    position: absolute;
    width: 100%;
    height: 100%;
    font-weight: 300;
    overflow: auto;
}

.modal-event-heading {
    letter-spacing: 2px;
    padding: 15px 0px 15px 0px;
    font-weight: lighter;
    color: white;
}

.modal-image {

    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 180px;
    padding-bottom: 140px;
    margin: -18px;
}

.close {
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    -webkit-appearance: none;
    position: absolute;
    top: 20px;
    right: 20px;
    float: right;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .3;
}

@media (min-width: 768px) {
    .div-animation {
        opacity: 1;
    }

    #ncode {
        margin-top: 40px;
        padding-left: 40px;
    }
}

@media (min-width: 992px) {
    .div-animation {
        opacity: 0;
    }

    #ncode {
        margin-top: 30px;
        padding-left: 0px;
    }

}

@media (min-width: 1200px) {
    .div-animation {
        opacity: 0;
    }
}



